<app-navbar-doctor></app-navbar-doctor>
<!-- trebuie adaugate 2 butoate: delete Pacient de la doctor si delete cont pacient -->
<div class="middle-up">
   Listă pacienți
 </div>
<form class="form">
    <input type="text" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="search formEntry" placeholder="Caută pacienți..." required>
</form>
<div>
   <p></p>
</div>
<div class="container" id="main-container">
  <div class="row">
      <div *ngFor="let user of users" class="col-md-6">
         <div *ngIf="(user.type == 'pacient') && (user.id_doctor == 13)">
            <div class="card">
               <div class="list-group">
                  <div class="list-title align-self-center mb-0">
                     <li class="list-group-item"><h5>{{user.last_name}} {{user.first_name}}</h5></li>
                  </div>
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{user.email}}</li>
                  <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{user.nr_telefon}}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>