
/* This first section is a simple "reset". It allows the navbar to push up against the top of the browser window with no white space around it. This code also sets the default font for your whole page. Put it at the very top of your css page.  */
html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:'Comfortaa', cursive;
    font-weight: 100;
  }
  .nav-right{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:'Comfortaa', cursive;
    font-weight: 100;
    float:right;
  }
  .img-right{
    float: right;
    padding-top: 70px;
    padding-right: 180px;
  }
  .middle-up {
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
  }
  .profile{
    position: relative;
    top: 45%;
    left: 22%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  /* This class is applied to the containing div <div class="nav"> and is used to set the background color and height of the navbar */
  .nav, .dropdown {
    background-color:transparent;
    opacity: 0.9;
    height: 60px; /* set same as height & line-height below */
  }
  
  /* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
  .nav li {
    display: inline-block;
    list-style: none;
    height: 60px; /* should be the same as line-height */
    line-height: 60px; /* should be the same as height */
    padding: 0 40px; /* "0" sets top and bottom padding to none */
  }
  
  /* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
  .nav li:hover{
    background: rgb(27, 27, 184);
    transition: background .3s;
  }
  /* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999999;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  background: rgb(27, 27, 184);
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(146, 143, 143);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
