<div class="nav">
    <ul>
      <li><a [routerLink]="['/homeD']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
        <i class="fas fa-home"></i>
        Acasa</a></li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Adaugare
            <i class="fas fa-chevron-circle-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/add-pacient']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-plus"></i>
                Adaugare pacient</a>
            <a [routerLink]="['/add-programare']" [queryParams]="{ loggedIn: 'true' }">
                <i class="far fa-calendar-plus"></i>
                Adaugare programare</a>
            <a [routerLink]="['/add-treatments']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-briefcase-medical"></i>
                Adaugare tratamente și diagnostice</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Date
            <i class="fas fa-chevron-circle-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/programari_doctor']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-calendar-check"></i> Programari</a>
            <a [routerLink]="['/istoric_doctor']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-history"></i>Istoric</a>
            <a [routerLink]="['/afisare-formular-doctor']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-solid fa-notes-medical"></i>Formulare pacienți</a>
          </div>
        </div>
      </li>
      <li><a [routerLink]="['/pacienti']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-hospital-user"></i> Pacienti</a></li>
      <li><a [routerLink]="['/aboutD']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-address-card"></i> Despre</a></li>
      <li><a [routerLink]="['/contactD']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-id-card"></i> Contact</a></li>
      <div class="nav nav-right">
        <li>
          <div class="dropdown">
            
            <button class="dropbtn">
              Profil
              <i class="fas fa-chevron-circle-down"></i>
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/profilD']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-user-circle"></i>
                Date personale
              </a>
              <a [routerLink]="['/change_passD']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-key"></i>
                Schimbare parola
              </a>
              <a><button type="button" class="btn" (click)="clickMethod()">
                <i class="fas fa-trash"></i>
                Stergere cont
              </button>
              </a>
            </div>
          </div>
        </li>
        <li><a [routerLink]="['/login']" [queryParams]="{ loggedIn: 'false' }" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
          Logout</a></li>
      </div>
    </ul>
  </div>
