<div class="nav">
    <ul>
      <li><a [routerLink]="['/homeD']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
        <i class="fas fa-home"></i>
        Acasa</a></li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Adaugare
            <i class="fas fa-chevron-circle-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/add-pacient']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-plus"></i>
                Adaugare pacient</a>
            <a [routerLink]="['/add-programare']" [queryParams]="{ loggedIn: 'true' }">
                <i class="far fa-calendar-plus"></i>
                Adaugare programare</a>
            <a [routerLink]="['/add-treatments']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-briefcase-medical"></i>
                Adaugare tratamente și diagnostice</a>
            <a><button type="button" class="btn" (click)="onOpenModal()">
                <i class="fas fa-plus"></i>
                Adaugare radiografie
              </button>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Date
            <i class="fas fa-chevron-circle-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/programari_doctor']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-calendar-check"></i> Programari</a>
            <a [routerLink]="['/istoric_doctor']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-history"></i> Istoric</a>
            <a [routerLink]="['/afisare-formular-doctor']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-solid fa-notes-medical"></i> Formulare pacienți</a>
            <a [routerLink]="['/radiografii']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"> Radiografii</a>
          </div>
        </div>
      </li>
      <li><a [routerLink]="['/acces']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-hospital-user"></i> Acces</a></li>
      <li><a [routerLink]="['/pacienti']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-hospital-user"></i> Pacienti</a></li>
      <li><a [routerLink]="['/aboutD']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-address-card"></i> Despre</a></li>
      <li><a [routerLink]="['/contactD']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-id-card"></i> Contact</a></li>
      <div class="nav nav-right">
        <li>
          <div class="dropdown">
            
            <button class="dropbtn">
              Profil
              <i class="fas fa-chevron-circle-down"></i>
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/profilD']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-user-circle"></i>
                Date personale
              </a>
              <a [routerLink]="['/change_passD']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-key"></i>
                Schimbare parola
              </a>
              <a><button type="button" class="btn" (click)="clickMethod()">
                <i class="fas fa-trash"></i>
                Stergere cont
              </button>
              </a>
            </div>
          </div>
        </li>
        <li><a [routerLink]="['/login']" [queryParams]="{ loggedIn: 'false' }" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
          Logout</a></li>
      </div>
    </ul>
  </div>

  <!-- modal adaugare radiografie -->
  <div class="modal" tabindex="-1" id="addRadiografie" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title">Adăugare radiografie</h4>
                      <button type="button" class="close" aria-label="Close" (click)="onCloseModal()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="addRadiografieForm">
                    <div class="form-group">
                      <select formControlName="email" name="email" placeholder="Email" class="select formEntry">
                        <option disabled selected value="">Selectati un email</option>
                        <option *ngFor="let user of users">
                            {{user.email}}
                        </option>
                      </select>
                      <input type="file" (change)="onFileChanged($event)">
                    </div>
                    <div class="modal-footer">
                       <button (click)="onUpload()" data-dismiss="modal" class="btnModal" >Update</button>
                       <button type="button" class="btnModal" (click)="onCloseModal()" >Close</button>
                    </div>
                  </form>
                </div>
          </div>
    </div>
  </div>
