<app-navbar-doctor></app-navbar-doctor>
<div class="middle-up">
    Adăugare acces pacienți
  </div>
<div>
  <form [formGroup]="accesForm" (ngSubmit)="onSubmit(accesForm)" class="form">
    <select formControlName="email" name="email" placeholder="Email" class="select formEntry">
      <option disabled selected value="">Selectati un email</option>
      <option *ngFor="let user of users">
          {{user.email}}
      </option>
    </select>

    <input type="text" formControlName="adaugareTratament" name="adaugareTratament" placeholder="Acces tratament(true/false)" [ngClass]="{ 'is-invalid': submitted && accesForm.get('adaugareTratament').errors }" class="text formEntry"/>
      <div *ngIf="submitted && accesForm.get('adaugareTratament').errors" class="invalid-feedback">
        <div *ngIf="accesForm.get('adaugareTratament').errors['required']">Acest câmp nu poate fi gol.</div>
      </div>
    <input type="text" formControlName="stergereCont" name="stergereCont" placeholder="Acces stergere cont(true/false)" [ngClass]="{ 'is-invalid': submitted && accesForm.get('stergereCont').errors }" class="text formEntry"/>
      <div *ngIf="submitted && accesForm.get('stergereCont').errors" class="invalid-feedback">
        <div *ngIf="accesForm.get('stergereCont').errors['required']">Acest câmp nu poate fi gol.</div>
      </div>
    <input type="text" formControlName="afisareFormular" name="afisareFormular" placeholder="Acces afisare formular(true/false)" [ngClass]="{ 'is-invalid': submitted && accesForm.get('afisareFormular').errors }" class="text formEntry"/>
    <div *ngIf="submitted && accesForm.get('afisareFormular').errors" class="invalid-feedback">
      <div *ngIf="accesForm.get('afisareFormular').errors['required']">Acest câmp nu poate fi gol.</div>
    </div>
    
    <button type="submit" class="submit formEntry">Modifica acces</button>
  </form>
</div>
