<app-navbar-doctor></app-navbar-doctor>
<div *ngIf="istorics.length > 0">
    <div class="middle-up">
        Istoric
    </div>
    <form class="form">
        <input type="text" (ngModelChange)="searchIstoric(key.value)" #key="ngModel" ngModel
        name="key" id="searchName" class="search formEntry" placeholder="Caută după email pacient sau dată..." required>
    </form>
    <div>
    <p></p>
    </div>
    <div id="wrapper" class="container">
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th><span>Email pacient</span></th>
                    <th><span>Diagnostic</span></th>
                    <th><span>Tratament</span></th>
                    <th><span>Dinte</span></th>
                    <th><span>Pret</span></th>
                    <th><span>Data</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let istoric of istorics">
                    <td class="lalign">{{istoric.email}}</td>
                    <td class="lalign">{{istoric.diagnostic}}</td>
                    <td class="lalign">{{istoric.treatment}}</td>
                    <td class="lalign">{{istoric.dinte}}</td>
                    <td class="lalign">{{istoric.pret}}</td>
                    <td class="lalign">{{istoric.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="istorics.length === 0" class="message" >Nu aveți nici o înregistrare a istoricului!</div>