<div class="nav">
    <ul>
      <li><a [routerLink]="['/home']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
        <i class="fas fa-home"></i>
        Acasa</a></li>
        <li>
          <div class="dropdown">
            
            <button class="dropbtn">
              Adăugare
              <i class="fas fa-chevron-circle-down"></i>
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/add-treatment-pacient']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
                <i class="fas fa-briefcase-medical"></i>
                Adăugare tratament</a>
              <a [routerLink]="['/formular']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
                <i class="fas fa-solid fa-notes-medical"></i>
                Completare formular</a>
              <a><button type="button" class="btn" (click)="onOpenModal()">
                <i class="fas fa-plus"></i>
                Adaugare radiografie
              </button>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            
            <button class="dropbtn">
              Date
              <i class="fas fa-chevron-circle-down"></i>
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/istoric']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
                <i class="fas fa-history"></i>
                Istoric</a>
              <a [routerLink]="['/afisare-formular-pacient']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
                <i class="fas fa-solid fa-notes-medical"></i>
                Date formular</a>
              <a [routerLink]="['/programari_pacient']" [queryParams]="{ loggedIn: 'true' }" class="nav-link">
                <i class="fas fa-calendar-check"></i>
                Programari</a>
            </div>
          </div>
        </li>
      <li><a [routerLink]="['/about']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-address-card"></i> Despre</a></li>
      <li><a [routerLink]="['/contact']" [queryParams]="{ loggedIn: 'true' }" class="nav-link"><i class="fas fa-id-card"></i> Contact</a></li>
      <div class="nav-right">
        <li>
          <div class="dropdown">
            
            <button class="dropbtn">
              Profil
              <i class="fas fa-chevron-circle-down"></i>
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/profil']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-user-circle"></i>
                Date personale
              </a>
              <a [routerLink]="['/change_pass']" [queryParams]="{ loggedIn: 'true' }">
                <i class="fas fa-key"></i>
                Schimbare parola
              </a>
              <a><button type="button" class="btn" (click)="clickMethod()">
                <i class="fas fa-trash"></i>
                Stergere cont
              </button>
              </a>
            </div>
          </div>
        </li>
        <li><a [routerLink]="['/login']" [queryParams]="{ loggedIn: 'false' }" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
          Logout</a></li>
      </div>
    </ul>
  </div>

  <!-- modal adaugare radiografie -->
  <div class="modal" tabindex="-1" id="addRadiografie" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title">Adăugare radiografie</h4>
                      <button type="button" class="close" aria-label="Close" (click)="onCloseModal()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="addRadiografieForm">
                    <div class="form-group">
                      <input type="file" (change)="onFileChanged($event)">
                    </div>
                    <div class="modal-footer">
                       <button (click)="onUpload()" data-dismiss="modal" class="btnModal" >Update</button>
                       <button type="button" class="btnModal" (click)="onCloseModal()" >Close</button>
                    </div>
                  </form>
                </div>
          </div>
    </div>
  </div>