<!-- Adaug cate un tratament pe rand, si pretul il adaug la o coloana costuri totale de la user, care se reseteaza cand user ul "plateste"-->
<app-navbar-doctor></app-navbar-doctor>
<div class="middle-up">
    Adăugare date consultație
  </div>
<div>
  <form [formGroup]="treatmentForm" (ngSubmit)="onSubmit(treatmentForm)" class="form">
    <select formControlName="email_pacient" name="email_pacient" placeholder="Email_pacient" class="select formEntry">
      <option *ngFor="let user of users">
        <div *ngIf="(user.type == 'pacient') && user.id_doctor == loggedInUser.id">
          {{user.email}}
        </div>  
      </option>
    </select>
    <select formControlName="diagnostic" name="diagnostic" placeholder="Diagnostic" class="select formEntry">
      <option *ngFor="let diagnostic of diagnostics">
        {{diagnostic.diagnostic}}
      </option>
    </select>
    <select formControlName="treatment" name="treatment" placeholder="Tratament" class="select formEntry">
      <option *ngFor="let treatment of treatments">
        {{treatment.treatments}}
      </option>
    </select>
    <input type="text" formControlName="pret" name="pret" placeholder="Pret" [ngClass]="{ 'is-invalid': submitted && treatmentForm.get('pret').errors }" class="name formEntry"/>
    <div *ngIf="submitted && treatmentForm.get('pret').errors" class="invalid-feedback">
			<div *ngIf="treatmentForm.get('pret').errors['required']">Introduceti pretul.</div>
      <div *ngIf="treatmentForm.get('pret').errors['pattern']">Pretul trebuie să fie un număr.</div>
		</div>
    <input type="text" formControlName="dinte" name="dinte" placeholder="Dinte" [ngClass]="{ 'is-invalid': submitted && treatmentForm.get('dinte').errors }" class="name formEntry"/>
    <div *ngIf="submitted && treatmentForm.get('dinte').errors" class="invalid-feedback">
			<div *ngIf="treatmentForm.get('dinte').errors['required']">Introduceti dintele.</div>
		</div>
    <input type="text" formControlName="radiografie" name="radiografie" placeholder="Radiografie" class="name formEntry"/>
    <button type="submit" class="submit formEntry">Adaugă</button>
  </form>
</div>
