<!-- Adaug cate un tratament pe rand, si pretul il adaug la o coloana costuri totale de la user, care se reseteaza cand user ul "plateste"-->
<app-navbar-doctor></app-navbar-doctor>
<div class="left-up">
    Adăugare diagnostic și tratament
  </div>
<div class="wrapper">
    <form [formGroup]="treatmentForm" (ngSubmit)="onSubmit(treatmentForm)" class="form-left">
      <input type="text" formControlName="email" name="email" placeholder="Email pacient" [ngClass]="{ 'is-invalid': submitted && treatmentForm.get('email').errors }" class="email formEntry"/>
      <div *ngIf="submitted && treatmentForm.get('email').errors" class="invalid-feedback">
        <div *ngIf="treatmentForm.get('email').errors['required']">Introduceti un email</div>
        <div *ngIf="treatmentForm.get('email').errors['email']">Email-ul este invalid</div>
        <div *ngIf="treatmentForm.get('email').errors['noEmail']">Nu exista nici un cont cu acest email</div>
      </div>
      <select formControlName="diagnostic" name="diagnostic" placeholder="Diagnostic" class="select formEntry">
        <option *ngFor="let diagnostic of diagnostics">
          {{diagnostic.diagnostic}}
        </option>
      </select>
      <select formControlName="treatment" name="treatment" placeholder="Tratament" class="select formEntry">
        <option *ngFor="let price of prices">
          {{price.treatments}}
        </option>
      </select>
      <button type="submit" class="submit formEntry">Adauga diagnostic și tratament</button>
    </form>
  </div>

  <div class="right-up">
    Adăugare radiografie
  </div>
  <div class="wrapper">
    <form [formGroup]="radiografieForm" (ngSubmit)="onSubmitRad(radiografieForm)" class="form-right">
      <input type="text" formControlName="email" name="email" placeholder="Email pacient" [ngClass]="{ 'is-invalid': submittedRad && radiografieForm.get('email').errors }" class="email formEntry"/>
      <div *ngIf="submittedRad && radiografieForm.get('email').errors" class="invalid-feedback">
        <div *ngIf="radiografieForm.get('email').errors['required']">Introduceti un email</div>
        <div *ngIf="radiografieForm.get('email').errors['email']">Email-ul este invalid</div>
        <div *ngIf="radiografieForm.get('email').errors['noEmail']">Nu exista nici un cont cu acest email</div>
      </div>
      <input type="text" formControlName="radiografie" name="radiografie" placeholder="Radiografie" [ngClass]="{ 'is-invalid': submittedRad && radiografieForm.get('radiografie').errors }" class="email formEntry"/>
      <div *ngIf="submittedRad && radiografieForm.get('radiografie').errors" class="invalid-feedback">
        <div *ngIf="radiografieForm.get('radiografie').errors['required']">Introduceti o radiografie</div>
      </div>
      <button type="submit" class="submit formEntry">Adauga radiografie</button>
    </form>
  </div>
