<app-navbar></app-navbar>

<div *ngIf="currentFormular">
  <div class="middle-up">
    Datele formularului
  </div>
  <div id="formularPDF" #formularPDF>
    <div class="left">
      <h1>Email</h1>
      <p>{{currentFormular.email}}</p>
      <br>
      <h1>Nume</h1>
      <p>{{currentFormular.first_name}}</p>
      <br>
      <h1>Prenume</h1>
      <p>{{currentFormular.last_name}}</p>
      <br>
      <h1>Data nasterii</h1>
      <p>{{currentFormular.data_nasterii}}</p>
      <br>
      <h1>Data completarii</h1>
      <p>{{currentFormular.data}}</p>
      <br>
      <h1>Sangerari exagerate</h1>
      <p>{{currentFormular.sangerari}}</p>
      <br>
      <h1>Sunteti fumator?</h1>
      <p>{{currentFormular.fumator}}</p>
    </div>
    <div class="right">
      <h1>Afectiuni</h1>
      <ul *ngFor="let afectiune of afectiuniSplitted">
        <li>{{afectiune}}</li>
      </ul>
      <h1>Alergii</h1>
      <ul *ngFor="let alergie of alergiiSplitted">
        <li>{{alergie}}</li>
      </ul>
      <h1>Alcool</h1>
      <p>{{currentFormular.alcool}}</p>
      <br>
      <h1>Droguri</h1>
      <p>{{currentFormular.droguri}}</p>
      <br>
      <h1>Alte probleme</h1>
      <p>{{currentFormular.alte_probleme}}</p>
      <br>
      
    </div>
  </div>
  <div>
    <button class="btn" (click)="SavePDF()">Descărcare pdf</button>
    <button  class="btn2" (click)="OpenPDF()">Deschidere ca pdf</button>
    <button  class="btn3" (click)="onDeleteFormular()">Stergere formular</button>
  </div>
</div>

<div class="message" *ngIf="!currentFormular"> Nu ați completat un formular!
  <a [routerLink]="['/formular']" [queryParams]="{ loggedIn: 'true' }" class="btn-primary" style="color:white;" >
    Apăsați pentru a completa un formular!</a> </div>
  