<app-navbar></app-navbar>
<div class="middle-up">
    Datele formularului
  </div>
  <div class="left">
      <h1>Email</h1>
      <p>Ion</p>
      <br>
      <h1>Nume</h1>
      <p>Ion</p>
      <br>
      <h1>Prenume</h1>
      <p>Ion</p>
      <br>
      <h1>Data nașterii</h1>
      <p>Ion</p>
      <br>
      <h1>Data completării</h1>
      <p>Ion</p>
      <br>
      <h1>Sângerări exagerate</h1>
      <p>dsads</p>
      <br>
      <h1>Sunteți fumător?</h1>
      <p>Ion</p>
  </div>
  <div class="right">
    <h1>Afecțiuni</h1>
    <p>Ion</p>
    <br>
    <h1>Alcool</h1>
    <p>Ion</p>
    <br>
    <h1>Droguri</h1>
    <p>Ion</p>
    <br>
    <h1>Alte probleme</h1>
    <p>Ion</p>
    <br>
  </div>