.container {
  top:100px;
  position: relative;
  
}
td,th{
  /* padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px; */
  padding:5px;
  width: 10%;
  text-align: center;
  border: 1px solid white;
  font-family:'Comfortaa', cursive;
  color:white;
  border-radius: 7px;
}
thead {
  background-color: #333; 
  color: white;
  font-size: 0.875rem;
text-transform: uppercase;
letter-spacing: 2%;
}
p{
  position: absolute;
    top: 40%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}
.middle-up {
    position: absolute;
    top: 12%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
  }
  .form {
    background: inherit;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    top: 3%;
    padding-top: 5px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    position: relative;
  }
  .formEntry {
    display: block;
    margin: 45px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius:.25rem;
  }
  .btn{
      padding-left: 10px;
      padding-right: 10px;
    position: relative;
    background-color: inherit;
    font-family: inherit;
    color: white;
    font-size: 16px;
    border:none;
    outline: none;
    cursor: pointer;
  }