<app-navbar-doctor></app-navbar-doctor>
<div *ngIf="neededAppointments.length > 0">
    <div class="middle-up">
        Programări
    </div>
    <form class="form">
        <input type="text" (ngModelChange)="searchProgramari(key.value)" #key="ngModel" ngModel
        name="key" id="searchName" class="search formEntry" placeholder="Caută după email pacient sau dată..." required>
    </form>
    <div>
    <p></p>
    </div>
    <div id="wrapper" class="container">
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th><span>Email pacient</span></th>
                    <th><span>Oră începere</span></th>
                    <th><span>Oră finalizare</span></th>
                    <th><span>Data</span></th>
                    <th><span>Descriere</span></th>
                    <th><span>Ștrergere programare</span></th>
                    <th><span>Finalizare</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let neededAppointment of neededAppointments">
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">{{neededAppointment.email}}</td>
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">{{neededAppointment.ora_incepere}}</td>
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">{{neededAppointment.ora_finalizare}}</td>
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">{{neededAppointment.data}}</td>
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">{{neededAppointment.descriere}}</td>
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">
                        <button class="btn" (click)="clickMethod(neededAppointment.id)">
                            <i class="fas fa-solid fa-trash"></i>
                            Ștergere programare</button>
                    </td>
                    <td *ngIf="condition(neededAppointment.data)" class="lalign">
                        <button class="btn" [routerLink]="['/add-treatments']" [queryParams]="{ loggedIn: 'true' }">
                            <i class="fas fa-briefcase-medical"></i>
                            Adăugare date consultație</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="message" *ngIf="neededAppointments.length === 0"> Nu aveți nici o programare! </div>