<app-navbar></app-navbar>
<div class="middle-up">
    Programări
  </div>
  <div id="wrapper" class="container">
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th><span>Oră începere</span></th>
                <th><span>Oră finalizare</span></th>
                <th><span>Data</span></th>
                <th><span>Descriere</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments">
                <td *ngIf="currentUser.email === appointment.email" class="lalign">{{appointment.ora_incepere}}</td>
                <td *ngIf="currentUser.email === appointment.email" class="lalign">{{appointment.ora_finalizare}}</td>
                <td *ngIf="currentUser.email === appointment.email" class="lalign">{{appointment.data}}</td>
                <td *ngIf="currentUser.email === appointment.email" class="lalign">{{appointment.descriere}}</td>
            </tr>
        </tbody>
    </table>
</div>