<app-navbar></app-navbar>
  <div class="middle-up">
    Despre noi
  </div>
  <div class="about-text">
      <h1>Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.Aceasta este sectiunea despre.</h1>
  </div>
  <div class="div-right">
    <img src="./assets/images/cabinet1.jpg" width="400" height="400" class="img-round">
  </div>
