<app-navbar></app-navbar>
  <div class="middle-up">
    Despre noi
  </div>
  <div class="about-text">
      <h1>Aplicația noastră web pentru gestiunea clinicilor stomatalogice vă oferă o gamă largă de funcționalități care ușurează munca medicilor, asistenților, dar și pacienților. Acest site vă oferă funcționalități precum: adăugare de pacienți la un anumit doctor, adăugare de tratamente, radiografii, diagnostice, precum și evidența acestora, pentru ca toți utilizatorii să știe ce proceduri s-au efectuat.</h1>
  </div>
  <div class="div-right">
    <img src="./assets/images/cabinet1.jpg" width="400" height="400" class="img-round">
  </div>
