<app-navbar></app-navbar>
<div class="middle-up">
    Formular pacient
</div>
  <form [formGroup]="formularForm" (ngSubmit)="onSubmit(formularForm)" class="form">
    <p>Data nașterii</p>
    <input type="date" formControlName="data_nasterii" name="data_nasterii" placeholder="Data nasterii" class="date formEntry"/>
    <!-- <p>Aveți sau ați avut una sau mai multe din următoarele afecțiuni?</p> -->
    <p>Afecțiuni</p><br>

    <label id="label_{{afectiuniData[i]}}" formArrayName="afectiuni" *ngFor="let afectiune of afectiuniData; let i=index">
    <input id="input_{{afectiuniData[i]}}" type="checkbox" > {{afectiuniData[i]}}
    </label>

    <input type="text" formControlName="alcool" name="alcool" placeholder="Sunteți consumator de alcool? Ce cantitate?" [ngClass]="{ 'is-invalid': submitted && formularForm.get('alcool').errors }" class="text formEntry"/>
    <div *ngIf="submitted && formularForm.get('alcool').errors" class="invalid-feedback">
			<div *ngIf="formularForm.get('alcool').errors['required']">Acest câmp trebuie completat!</div>
		</div>
    <div class="form-right">
      <p>Alergii</p><br>
      <label id="label_{{alergiiData[i]}}" formArrayName="alergii" *ngFor="let alergie of alergiiData; let i=index">
        <input id="input_{{alergiiData[i]}}" type="checkbox" > {{alergiiData[i]}}
      </label>
      <textarea rows="3" formControlName="sangerari" name="sangerari" placeholder="Ați avut sângerări exagerate sau prelungite care să necesite tratament special? Detaliați" [ngClass]="{ 'is-invalid': submitted && formularForm.get('sangerari').errors }" class="message formEntry"></textarea>
      <div *ngIf="submitted && formularForm.get('sangerari').errors" class="invalid-feedback">
        <div *ngIf="formularForm.get('sangerari').errors['required']">Acest câmp trebuie completat!</div>
      </div>
      <input type="text" formControlName="fumator" name="fumator" placeholder="Sunteți fumător? Numărul de țigări zilnic:" [ngClass]="{ 'is-invalid': submitted && formularForm.get('fumator').errors }" class="text formEntry"/>
      <div *ngIf="submitted && formularForm.get('fumator').errors" class="invalid-feedback">
        <div *ngIf="formularForm.get('fumator').errors['required']">Acest câmp trebuie completat!</div>
      </div>
      <input type="text" formControlName="droguri" name="droguri" placeholder="Sunteți consumator de droguri? Ce tip/cantitate?" [ngClass]="{ 'is-invalid': submitted && formularForm.get('droguri').errors }" class="text formEntry"/>
      <div *ngIf="submitted && formularForm.get('droguri').errors" class="invalid-feedback">
        <div *ngIf="formularForm.get('droguri').errors['required']">Acest câmp trebuie completat!</div>
      </div>
      <input type="text" formControlName="alte_probleme" name="alte_probleme" placeholder="Alte probleme" [ngClass]="{ 'is-invalid': submitted && formularForm.get('alte_probleme').errors }" class="text formEntry"/>
      <div *ngIf="submitted && formularForm.get('alte_probleme').errors" class="invalid-feedback">
        <div *ngIf="formularForm.get('alte_probleme').errors['required']">Acest câmp trebuie completat!</div>
      </div>
      
      <button type="submit" class="submit formEntry">Trimite formular</button>
    </div>
  </form>

